name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        java: [11]
    steps:
    - uses: actions/checkout@v5
    - name: Cache
      uses: actions/cache@v4
      env:
        cache-name: cache-sbt-libs
      with:
        path: |
          ~/.ivy2/cache
          ~/.sbt
          ~/.coursier
        key: build-${{ env.cache-name }}-${{ hashFiles('build.sbt') }}    
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
    - uses: sbt/setup-sbt@v1
    - name: Run tests
      run: |
        git clone https://github.com/gitbucket/gitbucket.git
        cd gitbucket
        sbt publishLocal
        cd ../
        sbt test
    - name: Assembly
      run: sbt assembly
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: gitbucket-gist-plugin-java${{ matrix.java }}-${{ github.sha }}
        path: ./target/scala-2.13/*.jar


